body {
  background-image: url("./images/bg4.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

#main {
  margin-top: 43px;
  width: 100%;
  /* resize: both; */
  box-sizing: border-box;
  overflow: hidden;
  /* z-index: -6; */
}
#battlefeild img {
  height: 5%;
  aspect-ratio: 1/1;

  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
}
#gold_b {
  top: 22%;
  left: 28%;
}

#roam_b {
  top: 31%;
  left: 28%;
}

#jgl_b {
  top: 44%;
  left: 34%;
}

#mid_b {
  top: 41%;
  left: 48%;
}

#exp_b {
  top: 80%;
  left: 73%;
}

#text {
  width: 77.5%;
  margin: auto;
}

/* #text div {
  padding: 10px;
} */

.icon {
  height: 100px;
  margin-right: 10px;
  margin-top: 5px;

  float: left;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-weight: 600;
}
p {
  margin-top: 0;
  font-weight: 300;
}

.container {
  padding: 10px;
}

.map_animation {
  box-shadow: 0 0 20px rgba(0, 150, 255, 1); /* Initial shadow */
  animation: shadowAnimation 1.2s infinite alternate; /* Animation properties */
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 0 0 20px rgba(0, 150, 255, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 150, 255, 0);
  }
}

a {
  color: white;
  text-decoration: none;
}

.red {
  color: red;
}

.yellow {
  color: rgb(283, 210, 154);
}

@media (max-width: 590px) {
  body {
    background-image: none;
  }

  #main {
    margin-top: 35px;
  }

  #text {
    width: 85%;
  }

  #battlefeild img {
    height: 9%;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 17px;
  }
}
