body {
  background-image: url("./images/bg4.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

#main {
  width: 75%;
  margin: auto;
  margin-top: 42px;
}

h1 {
  color: rgb(212, 176, 124);
}
