body {
  background-image: url("./images/bg4.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

#main {
  width: 75%;
  margin: auto;
  margin-top: 43px;
}

h1 {
  color: rgb(212, 176, 124);
}

@media (max-width: 590px) {
  body {
    background-image: none;
  }

  #main {
    margin-top: 36px;
    width: 85%;
  }
}
